@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


body {
  height:100vh;
  width:100vw; 
  @apply bg-gradient-to-br from-green-300 to-indigo-400;
}

.picker { 
  @apply bg-slate-50 pl-16 py-3 rounded-md border cursor-pointer shadow-md w-full;
  position: relative; 
}

.picker-wrapper {
  position: relative; 
}

.picker-wrapper::before {
  content: "";
  pointer-events: none; 
  background-image: url("./assets/calendar.svg");
  background-size: cover; 
  height: 30px; 
  width: 30px; 
  position: absolute; 
  z-index: 2;
  top: 20%; 
  left: 2%;
}